* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/*background: green;*/
	/*background-image: radial-gradient(circle at 100% 0%, #d0d249 0, #ccbf40 12.5%, #c4ab38 25%, #b79532 37.5%, #a67e2b 50%, #946825 62.5%, #825621 75%, #73461d 87.5%, #65391a 100%);*/
	/*background-image: radial-gradient(circle at 100% 0%, #de7c09 0, #dc6e18 10%, #d55f22 20%, #c94e27 30%, #ba3d2b 40%, #a62b2b 50%, #91192a 60%, #7f0629 70%, #6e0028 80%, #600027 90%, #540027 100%);*/
	background-image: linear-gradient(225deg, #53332f 0, #442a2a 12.5%, #322021 25%, #1e1516 37.5%, #000000 50%, #000000 62.5%, #000000 75%, #000000 87.5%, #000000 100%);
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.contenedor {
	width: 90%;
	max-width: 800px;
	margin: auto;
}

/* ------------------------- */
/* HEADER */
/* ------------------------- */

header {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	margin-top: 0;
}

header .logo {
	text-align: center;
	margin-bottom: 40px;
}

header .logo h1{
	text-align: center;
	color: #9B9B9B;
}

header .logo p {
	color: #9B9B9B;
}

header form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

header .barra-busqueda {
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	text-align: center;
	font-size: 16px;
}

header .logo{
	margin-top: 5%;
}

header .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

header .categorias a {
	color: #9B9B9B;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}

header .categorias a.activo {
	color: #572364;
}

/* ------------------------- */
/* Grid */
/* ------------------------- */

.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
	opacity: 1;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(33.333333% - 20px);
}

.grid .item-contenido {
	position: relative;
}

.grid .item-contenido:hover img
{
	position: relative;
	filter: grayscale(0);
}

.grid .item-contenido img
{
	position: relative;
	filter: grayscale(1);
}


.grid .item img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	cursor: pointer;
	vertical-align: top;
}

/* ------------------------- */
/* Overlay */
/* ------------------------- */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay.activo {
	display: flex;
}

.overlay img {
	max-width: 100%;
}

.overlay .descripcion {
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
}

.contenedor-img {
	position: relative;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}

/* ------------------------- */
/* Footer */
/* ------------------------- */
footer .redes-sociales {
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
}

footer .redes-sociales a {
	display: block;
	width: 60px;
	height: 60px;
	background: #000;
	color: white;
	margin: 20px;
	text-align: center;
	border-radius: 100px;
	transition: .3s ease all;
}

footer .redes-sociales .twitter {background: #1da1f2;}
footer .redes-sociales .facebook {background: #3b5998;}
footer .redes-sociales .telegram {background: #1da1f2;}

footer .redes-sociales .instagram 
{
	
	display: inline-block;
  	text-align: center;
  	border-radius: 40px;
  	color: #fff;
  	font-size: 5px;
  	line-height: 5px;
  	vertical-align: middle;
  	background: #d6249f;
  	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  	box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

footer .redes-sociales a i {
	font-size: 20px;
	line-height: 60px;
}

footer .contenedor-icono:hover a {
	animation: icono .5s ease;
}

@keyframes icono {
	from {
		transform: rotate3d(0,0,0,0);
	}
	to {
		transform: rotate3d(0,1,0, 360deg);
	}
}

footer .creado-por {
	margin-bottom: 40px;
	text-align: center;
	font-size: 14px;
	color: black;
}

footer .creado-por a {color: #000;}
footer .creado-por a:hover {text-decoration: underline;}

/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media screen and (max-width: 700px) {
	.grid .item {
		width: calc(50% - 20px);
	}

	header .barra-busqueda {
		width: 100%;
	}

	.grid .item-contenido img
	{
		position: relative;
		width: 100%;
	}
	

}